<section id="about">
  <p class="px-2">
    I am Sebastian Sala, a 21-year-old professioal with a background in
    Computacional Technologies. My passion for technology and software
    development has led me to explore diverse horizons of software development,
    maintaing an open mind set toward diffrente branches. I am focused on web
    development, however, I am not limited to this area. I am constantly open to
    learn and address new challenges.
  </p>
</section>
