<header>
  <div class="bg-third px-2 py-1 text-white flex justify-between">
    <div class="flex gap-2 items-center">
      <!-- <img src="/logo.svg" class="size-4" /> -->
      <span class="font-bold"> Portfolio does not exist </span>
    </div>
    <div class="flex items-center gap-1">
      <button class="size-4 bg-primary border-t-white"></button>
      <button class="size-4 bg-primary border-t-white"></button>
      <button class="size-4 bg-primary border-t-white"></button>
    </div>
  </div>
  <div class="flex gap-2 text-sm border-t-white bg-primary px-2 border-t-2">
    <a href="/" class="text-third"><span class="underline">H</span>ome</a>
    <a href="#about" class="text-third"><span class="underline">A</span>bout</a>
    <a href="#experience" class="text-third">
      <span class="underline">E</span>xperience
    </a>
    <a href="#projects" class="text-third">
      <span class="underline">P</span>rojects
    </a>
  </div>
</header>
