---
const { title, description, href } = Astro.props;
---

<li class="space-y-2">
  <h3 class="underline underline-offset-4">
    <a href={href} class="old-link" target="_blank">{title}</a>
  </h3>
  <p class="ml-2">
    {description}
  </p>
</li>
