---
import { getCollection } from "astro:content";
import ExperienceItem from "./ExperienceItem.astro";
import Heading from "../Heading.astro";
import List from "../List.astro";

const experiences = await getCollection("experiences");
const sortedExperiences = experiences.sort((a, b) => {
  return new Date(b.data.date).getTime() - new Date(a.data.date).getTime();
});
---

<section id="experience">
  <Heading> Experience </Heading>

  <List>
    {
      sortedExperiences.map((experience) => (
        <ExperienceItem
          title={experience.data.company}
          company={experience.data.title}
          date={experience.data.date}
          description={experience.data.description}
        />
      ))
    }
  </List>
</section>
